body {
    color: blue;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(SpaceMazeBackground.png);
  }
  
  
  h1 {
    font-size: 70px;
    color: blue;
    text-align: center;
  }
  
  p {
  color: blue;
  }

  .box {
    font-size: 30px;
    padding: 0px;
    margin: 100px;
    text-align: center;
  }

  button {
    background: cornflowerblue;
    font-size: 20px;
  }

  textarea {
    background: cornflowerblue;
    font-size: 20px;
  }

  .hero {
    width: 50px;
    height: 50px;
    background-image: url('Hero1.png');
    background-size: cover;
    display: inline-block;
}

.wall {
    width: 50px;
    height: 50px;
    background-color: blue;
    display: inline-block;
}

.stone {
    width: 50px;
    height: 50px;
    background-image: url('Stone.png');
    background-size: cover;
    display: inline-block;
}

.ground {
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    display: inline-block;
}

.spaceship {
  width: 50px;
  height: 50px;
  background-image: url('Spaceship.png');
  background-size: cover;
  display: inline-block;
}

div {
    margin: -2px;
    vertical-align: top;
}